#certifications_section {
  background-color: var(--purple);
}

.certifications_end {
  background-color: var(--dark_blue);
}

#certifications_section .content.leaning {
  margin-top: 30 px;
  margin-bottom: 30 px;
}

#certifications_section .section_title {
  color: var(--white);
  margin-bottom: 60px;
}

#certifications_section .certifications_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 1400px) {
  #certifications_section .certifications_content {
    flex-direction: column;
    width: 200px;
  }
}

#certifications_section .certifications_line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 430px;
}
