#projects_section {
  background-color: var(--dark_blue);
}

.projects_end {
  background-color: var(--very_dark_blue);
}

#projects_section .section_title {
  color: var(--white);
  margin-bottom: 60px;
}

@media screen and (max-width: 1400px) {
  #projects_section .project_line {
    flex-direction: column;
  }
}

#projects_section .project_line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120%;
  gap: 20px;
}

.wrapper {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  width: 300px;
  height: 500px;
  align-items: center;
  justify-content: center;
  background: var(--white);
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}

.wrapper .container .bottom {
  width: 100%;
  height: 20%;
  transition: transform 0.5s;
}

.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--dark_purple);
  color: var(--white);
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding-top: 10px;
  padding-left: 15px;
  float: left;
  width: 100%;
}

.wrapper .inside {
  z-index: 9;
  background: var(--dark_purple);
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: var(--white);
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents {
  color: var(--white);
}
.wrapper .inside .contents p {
  font-size: 13px;
}
