@font-face {
  font-family: raleway_bold;
  src: url("../resources/fonts/raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: raleway_semi_bold;
  src: url("../resources/fonts/raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: raleway_medium;
  src: url("../resources/fonts/raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: calibre_semi_bold;
  src: url("../resources/fonts/calibre/CalibreSemibold.otf");
}

@font-face {
  font-family: calibre_medium;
  src: url("../resources/fonts/calibre/CalibreMedium.otf");
}

@font-face {
  font-family: calibre_regular;
  src: url("../resources/fonts/calibre/CalibreRegular.otf");
}

@font-face {
  font-family: calibre_light;
  src: url("../resources/fonts/calibre/CalibreLight.otf");
}

@font-face {
  font-family: proxima_nova_bold;
  src: url("../resources/fonts/proxima_nova/ProximaNovaBold.otf");
}

@font-face {
  font-family: proxima_nova_semi_bold;
  src: url("../resources/fonts/proxima_nova/ProximaNovaSemibold.otf");
}

:root {
  /* Main-colors */
  --blue: #131833;
  --light_blue: #5682fc;
  --fade_light_blue: rgba(37, 84, 122, 0.459);

  /* Lightmode */
  --background_color: #ffffff;
  --fade_background_color: #fffffff5;
  --text_color: #312b54;
  --box_shadow: #312b5449;
  --fade_text_color: rgba(28, 28, 51, 0.2);
  --light_gray: #8ea9bf;
  --particles-background: radial-gradient(
    ellipse at bottom,
    var(--light_gray) 0%,
    #4b5974 100%
  );
  --particles-end: radial-gradient(circle, var(--light_gray) 0%, #4b5974 120%);
  --links: rgb(110, 25, 25);
  --menu_hover_color: var(--blue);
}

body.dark {
  /* Darkmode */
  --background_color: #272727;
  --fade_background_color: #272727f5;
  --text_color: #ffffff;
  --box_shadow: #ffffff25;
  --fade_text_color: rgba(160, 160, 160, 0.2);
  --light_gray: #1a1c1f;
  --particles-background: radial-gradient(
    ellipse at bottom,
    #0b1829 0%,
    #000000 100%
  );
  --particles-end: radial-gradient(circle, #0a1827 0%, #04080e 80%);
  --links: rgb(83, 167, 235);
  --menu_hover_color: white;
}
