@font-face {
  font-family: raleway_bold;
  src: url("../resources/fonts/raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: raleway_semi_bold;
  src: url("../resources/fonts/raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: raleway_medium;
  src: url("../resources/fonts/raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: calibre_semi_bold;
  src: url("../resources/fonts/calibre/CalibreSemibold.otf");
}

@font-face {
  font-family: calibre_medium;
  src: url("../resources/fonts/calibre/CalibreMedium.otf");
}

@font-face {
  font-family: calibre_regular;
  src: url("../resources/fonts/calibre/CalibreRegular.otf");
}

@font-face {
  font-family: calibre_light;
  src: url("../resources/fonts/calibre/CalibreLight.otf");
}

@font-face {
  font-family: proxima_nova_bold;
  src: url("../resources/fonts/proxima_nova/ProximaNovaBold.otf");
}

@font-face {
  font-family: proxima_nova_semi_bold;
  src: url("../resources/fonts/proxima_nova/ProximaNovaSemibold.otf");
}

:root {
  --blue: #312b54;
  --light_blue: #5682fc;
  --fade_light_blue: rgba(86, 177, 252, 0.15);
  --dark_blue: rgb(50, 95, 131);
  --very_dark_blue: rgb(17, 41, 68);

  --light_gray: #8ea9bf;
  --black_text: #425466;
  --white: #ffffff;
  --fade_white: rgb(191, 182, 216);

  --purple: rgb(53, 52, 102);
  --dark_purple: #131030;
  --fade_dark_purple: rgba(26, 16, 48, 0.9);

  --background_color: #ffffff;
  --text_color: #ffffff;
  --invert_text_color: #312b54;
  --fade_invert_text_color: rgba(32, 32, 32, 0.76);
  --particles-background: radial-gradient(
    ellipse at bottom,
    #0b1829 0%,
    #000000 100%
  );
  --particles-end: radial-gradient(ellipse, #0a1827 0%, #03080e 100%);
}

body.dark {
  --background_color: #272727;
  --text_color: #312b54;
  --invert_text_color: #ffffff;
  --fade_invert_text_color: rgba(255, 255, 255, 0.342);
  --light_gray: #1a1c1f;
  --particles-background: radial-gradient(
    ellipse at bottom,
    #0b1829 0%,
    #000000 100%
  );
  --particles-end: radial-gradient(ellipse, #0a1827 0%, #03080e 100%);
}
