.iconDiv {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 200;
  bottom: 15px;
  right: 25px;
  padding: 15px 20px;
  font-size: 20px;
  background: var(--background_color);
  color: var(--text_color);
  box-shadow: 5px 5px 10px var(--fade_text_color);
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
  border-color: var(--text_color);
  filter: drop-shadow(0px 0px 10px var(--fade_text_color));
  height: 36px;
  width: 27px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.6s ease;
  filter: drop-shadow(0px 0px 10px var(--fade_text_color));
}
.iconSVG {
  font-size: 36px;
  height: 100%;
  width: 100%;
}
.iconDiv:hover,
.iconDiv:focus-visible {
  width: 110px;
  background-color: var(--light_gray);
  transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
}
.iconDiv:focus-visible {
  outline: 1px solid var(--light_gray);
  outline-offset: 4px;
}
.iconDiv:active {
  opacity: 0.9;
}
.iconDiv::after {
  content: attr(tooltip);
  margin-left: 25px;
  animation: fadeIn 600ms linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
