#skills_section {
  background-color: var(--white);
}

.skills_end {
  background-color: var(--light_gray);
}

#skills_section .content.leaning {
  margin-top: 30 px;
  margin-bottom: 30 px;
}

#skills_section .section_title {
  color: var(--blue);
  margin-bottom: 70px;
}

#skills_section .skills_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 780px) {
  #skills_section .skills_content {
    flex-direction: column;
  }
}

#skills_section .skills_line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#skills_section .skills_link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 10px 25px 25px;
  border-radius: 20px;
  background-color: white;
  filter: drop-shadow(0px 0px 10px rgba(28, 28, 51, 0.2));
  gap: 15px;
  text-decoration: none;
  transition: padding 0.3s ease-in-out;
}

#skills_section .skills_link:hover {
  padding-right: 25px;
}

#skills_section .skills_link img {
  width: 50px;
}

#skills_section .skills_link .skills_text {
  overflow: hidden;
  width: 0px;
  transition: width 0.3s ease-in-out;
}

#skills_section .skills_link:hover .skills_text {
  width: var(--size);
}

#skills_section .skills_link .skills_text span {
  font-family: proxima_nova_semi_bold;
  font-size: 20px;
  color: var(--black_text);
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  #skills_section .skills_link:hover {
    padding-right: 10px;
  }

  #skills_section .skills_link:hover .skills_text {
    width: 0px;
  }
}
